* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
}
img {
    border: none;
    vertical-align: top;
}
a:link{
    text-decoration: none;
    color: #9999ff;
}
a:visited{
    color: #ff7f7f;
}
a:hover{
    color: #ff0000;
}
h3{
    font-size: 1.8em;
    text-align: center;
}
header{
    width: 100%;
    padding: 0 5%;
    background-color: #f0ffba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
h1{
    margin: 5px 0;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.nav-menu li {
    margin: 0 10px;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
h2 img{
    width: 100%;
}
.about{
    width: 100%;
    height: 450px;
    background-image: url(../images/about.jpg);
    margin: 10px 0;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}
.about-info{
    background-color: rgb(0, 0, 0,0.5) ;
    width: 50%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-info a{
    text-decoration: underline;
    color: white;
}
.about-info a:hover{
    font-size: 1.1em;
}
.popular-items{
    margin: 10px 0;
}
.popular-items h3{
    border-bottom: 1px solid #ff0000;
}
.item-wrap{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.popular-item{
    width: 45%;
    min-width: 360px;
    margin: 5px 0;
    font-size: 1.3em;
}
.popular-item img {
    width: 100%;
}
.item-info{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    font-weight: bold;
}
.items-link{
    text-align: right;
}
.news{
    margin: 10px 0;
}
.news h3{
    border-bottom: 1px solid #ff0000;
}
.news table{
    width: 100%;
}
.news th,td{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.news tfoot{
    text-align: center;
}
.scroll-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}
footer {
    background-color: #f0ffba;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.sns-icons {
    width: 100%;
}
.sns-icons img {
    margin: 20px;
    vertical-align: top;
}
