form {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form h2 {
  border-bottom: 1px solid #ff0000;
}

form div {
  margin: 10px 0;
  font-size: 1.1em;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 1.1em;
}

#checkDM {
  width: 1em;
  font-size: 1em;
}

#submit {
  width: 100%;
  line-height: 2;
  font-size: 1.3em;
  background-color: aqua;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}
#submit:hover{
  background-color: aquamarine;
}